

/* 样式重置 */
html,body,header,section,aside,div,ul,li,a,p,input{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}



/*样式*/


html{
	font-size: 20px;
}

@media only screen and (min-width: 1000px){
	html{
		font-size: 20px;
	}
}

@media only screen and (max-width: 980px){
	html{
		font-size: 19.6px !important;
	}
}

@media only screen and (max-width: 850px){
	html{
		font-size: 17px !important;
	}
}

@media only screen and (min-width: 750px){
	.nav-toggle{
		display: none;
	}
	nav ul.navbar li:nth-child(6), nav ul.navbar li:nth-child(7){
		display: none !important;
	}
	nav ul.navbar{
		opacity: 1 !important;
	}
}

@media only screen and (max-width: 750px){
	html{
		font-size: 15px !important;
	}
	header{
		height: 60px !important;
		position: fixed;
	    z-index: 9999;
	    left: 0;
	    top: 0
	}
	nav{
		height: 60px !important;
	}
	nav .logo{
		margin-left: 1rem;
	}
	nav .logo .img{
		padding: 15px 0 !important;
	}
	nav ul.navbar{
		border: #000;
		position: absolute;
		top: 60px;
		right: 100%;
		z-index: 9999;
		background: #fff;
		width: 100% !important;
		border: 1px solid #ccc !important;
		border-right: none !important;
		opacity: 0;		
	}
	nav ul.navbar li {
		display: block !important;
		width: 100% !important;
		border-bottom: 1px solid #ccc !important;
	}

	nav ul.navbar li a{
		display: block !important;
		width: 100% !important;
		margin: 0 !important;
		font-size: 20px !important;
		font-weight: normal !important;
	}
	nav ul.navbar li:nth-child(6) {
		text-align: right !important;
		border-bottom: none !important;
	}

	nav ul.navbar li:nth-child(6) a{
		text-align: center !important;
		display: inline-block !important;
		width: 60px !important;
	}

	nav .navbar_left{
		display: none !important;
	}

	.nav-toggle{
		display: inline-block;
		position: absolute;
	    right: 2rem;
	    top: 18px
	}


	div#content{
		display: block !important;
		width: 100%;
		height: auto !important;
	}
	div#content section{
		width: 100%;
		height: auto !important;
	}
	div#content aside{
		width: 100%;
		height: auto !important;
	}
	

	form#login{
		padding-top: 2.4rem;
		width: 30%;
		margin: 0 auto !important;
	}

	aside{
		padding: 0 !important;
	}

	div.info-wrap{
		width: 30%;
		margin: 0 auto !important;
		padding-top: 20px;
	}

	/*p.title:first-child{
		padding-top: 20px;
	}*/
	
	.btnGroup{
		width: 17.4rem;
	}
}

@media only screen and (max-width: 640px){
	html{
		font-size: 12.8px !important;
	}
	form#login{
		width: 40%;
	}

	div.info-wrap{
		width: 40%;
	}
}

@media only screen and (max-width: 560px){
	html{
		font-size: 11.2px !important;
	}
	form#login{
		width: 50%;
	}
	div.info-wrap{
		width: 50%;
	}

}

@media only screen and (max-width: 550px){
	html{
		font-size: 11px !important;
	}
	form#login{
		width: 46%;
	}
	div.info-wrap{
		width: 46%;
	}

}

@media only screen and (max-width: 480px){
	html{
		font-size: 9.6px !important;
	}
	form#login{
		width: 60%;
	}
	div.info-wrap{
		width: 60%;
	}
}	

@media only screen and (max-width: 450px){
	html{
		font-size: 9px !important;
	}
	form#login{
		width: 61%;
	}
	div.info-wrap{
		width: 61%;
	}
}

@media only screen and (max-width: 420px){
	html{
		font-size: 8.4px !important;
	}
	form#login{
		width: 65%;
	}
	div.info-wrap{
		width: 65%;
	}
}	

@media only screen and (max-width: 375px){
	html{
		font-size: 7.5px !important;
	}
	form#login{
		width: 70%;
	}
	div.info-wrap{
		width: 70%;
	}
}

@media only screen and (max-width: 361px){
	html{
		font-size: 7.2px !important;
	}
	form#login{
		width: 80%;
	}
	div.info-wrap{
		width: 80%;
	}
}

@media only screen and (max-width: 320px){
	html{
		font-size: 6.4px !important;
	}
}

/*@media only screen and (min-width: 320px){
	html{
		font-size: 6.4px !important;
	}
}*/


/*公共类的定义*/
.none{
	display: none;
}

.open-nav{
	z-index: 9999;
	position: fixed;
	width: 100%;
	height: 60px;
	left: 0;
	top: 0;
	background: #fff;
}
.nav-toggle span{
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 25px;
    transform-origin: 27px;
    -webkit-transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/*改变横条的角度*/
.nav-toggle.toggle-animate span{
	opacity: 1;
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
}

/*隐藏第二个横条*/
.nav-toggle.toggle-animate span:nth-child(2){
	opacity: 0;
}

/*改变第三个横条的角度*/
.nav-toggle.toggle-animate span:nth-child(3){
	opacity: 1;
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}

.submitBtn{
	display: inline-block;
	height: 1.8rem;
	width: 16.4rem;
	background: #509eff;
	color: #fff !important;
	font-size: 0.9rem;
	text-align: center;
	line-height: 1.8rem;
	margin-left: 0 !important;
	margin-bottom: 1rem;
	font-weight: bold;
}

.signupBtn{
	display: inline-block;
	height: 2rem;
	width: 6.2rem;
	background: #509eff;
	color: #fff !important;
	font-size: 0.9rem;
	text-align: center;
	line-height: 2rem;
	font-weight: bold;
}

.mask{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
}

.row{
	width: 100%;
	height: 1rem;
}

/*********************************/
body{
	background: #f8f9fa;
	font-size: 0.7rem;
	margin: 0;
}

div.mask{
	opacity: 0;
	z-index: -1;
}

header{
	width: 100%;
	height: 3rem;
	background: #fff;
}



article,footer{
	width: 50rem;
	margin: 3rem auto 0;
}

nav{
	width: 50rem;
	height: 3rem;
	margin: 0 auto 3rem;
	display: flex;
	flex-direction: row;


}

.logo, .navbar, .navbar_left{
	flex: 1;
}

nav .logo img{
	padding: 0.75rem 0;
}

nav ul.navbar{
	flex: 4;
}

nav ul.navbar li,nav ul.navbar li a,nav .navbar_left a{
	display: inline-block;
	color: #000;
	font-weight: bold;
}

nav ul.navbar li a{
	padding: 1.15rem 0.7rem;
	margin: 0 0.7rem;

}

nav ul.navbar li a:hover{
	background: #00aeef;
	color: #fff;
}

nav .navbar_left{
	text-align: right;
}

nav .navbar_left a{
	padding: 1.15rem 0;
}

div.banner{
	position: relative;
	height: 12.4rem;
	width: 50rem;
}

div.banner a{
	display: inline-block;
	position: absolute;
	top: 1.6rem;
	left: 2.3rem;
	font-size: 0.8rem;
	color: #fff;
}

#location{
	padding: 1rem 3rem 0 3rem;
	font-size: 0.8rem;
	line-height: 1.8rem;
}

#content{
	display: flex;
}

#content section, #content aside{
	height: 52.5rem;
	background: #fff;	
}

#content section{
	width: 30rem;
	border-right: 2px solid #f8f9fa;
}

#content aside{
	width: 15rem;
	padding: 3rem 0 0 5rem;
}

#login{
	width: 17.5rem;
	margin: 2rem 0 0 9rem;
}

#login .btnGroup{
	position: relative;
	height: 1.8rem;
	margin-bottom: 1.5rem;
	border: 1px solid #ccc;
}

#login .btnGroup .warp-input input{
	height: 1.8rem;
	width: 16.4rem;
	padding-left: 1rem;
	font-size: 0.9rem;
	border: none;
	background: transparent;
}


#login .btnGroup label{
	position: absolute;
	margin-left: -4rem;
	margin-top: 0.4rem;
	font-size: 0.9rem;
}

#login .btnGroup:first-child label{
	margin-left: -2rem;
}


.warp-submit{
	width: 9.5rem;
	height: 2rem;
	margin-bottom: 1.1rem;
	background: url(../imgs/btn.png);

}

.warp-submit input{
	width: 9.5rem;
	height: 2rem;
	opacity: 0;
	cursor: pointer;
}

#login a{
	margin-left: 1rem;
	color: #2f6db6;
}


aside p{
	margin: 1.8rem 0 0.1rem 0.4rem;
	color: #9a9a9a;
	font-weight: bold;
	line-height: 1.5;
}

aside p.title{
	font-size: 1rem;
	color: #000;
	margin: 1.5rem 0 1.3rem;
	padding-top: 1.5rem;
	border-top: 1px solid #f8f9fa; 
}

aside p.title:first-child{
	padding-top: 0;
}
/*aside a{
	display: block;
	height: 2rem;
	width: 6.2rem;
	background: url(../imgs/btn_1.png);
}*/

aside p.contact{
	margin-top: 0.5rem;
}

aside .qrcode{
	display: flex;
}

