

/* 样式重置 */
html,body,header,section,aside,div,ul,li,a,p,input{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}



/*样式*/

html{
	font-size: 20px;
}

body{
	background: #f8f9fa;
	font-size: 0.7rem;
	margin: 0;
}

header{
	width: 100%;
	height: 3rem;
	background: #fff;
}



article,footer{
	width: 50rem;
	margin: 3rem auto 0;
}

nav{
	width: 50rem;
	height: 3rem;
	margin: 0 auto 3rem;
	display: flex;
	flex-direction: row;


}

.logo, .navbar, .navbar_left{
	flex: 1;
}

nav .logo img{
	padding: 0.75rem 0;
}

nav ul.navbar{
	flex: 4;
}

nav ul.navbar li,nav ul.navbar li a,nav .navbar_left a{
	display: inline-block;
	color: #000;
	font-weight: bold;
}

nav ul.navbar li a{
	padding: 1.15rem 0.7rem;
	margin: 0 0.7rem;

}

nav ul.navbar li a:hover{
	background: #00aeef;
	color: #fff;
}

nav .navbar_left{
	text-align: right;
}

nav .navbar_left a{
	padding: 1.15rem 0;
}

div.banner{
	position: relative;
}

div.banner a{
	display: inline-block;
	position: absolute;
	top: 1.6rem;
	left: 2.3rem;
	font-size: 0.8rem;
	color: #fff;
}

#location{
	padding: 1rem 3rem;
	font-size: 0.8rem;
}

#content{
	display: flex;
}

#content section, #content aside{
	height: 52.5rem;
	background: #fff;	
}

#content section{
	width: 30rem;
	border-right: 2px solid #f8f9fa;
}

#content aside{
	width: 15rem;
	padding: 3rem 0 0 5rem;
}

#login{
	width: 17.5rem;
	margin: 2rem 0 0 9rem;
}

#login .btnGroup{
	position: relative;
	height: 1.8rem;
	margin-bottom: 1.5rem;
	border: 1px solid #ccc;
}

#login .btnGroup .warp-input input{
	height: 1.8rem;
	width: 16.4rem;
	padding-left: 1rem;
	font-size: 0.9rem;
	border: none;
	background: transparent;
}


#login .btnGroup label{
	position: absolute;
	margin-left: -4rem;
	margin-top: 0.4rem;
	font-size: 0.9rem;
}

#login .btnGroup:first-child label{
	margin-left: -2rem;
}


.warp-submit{
	width: 9.5rem;
	height: 2rem;
	margin-bottom: 1.1rem;
	background: url(../imgs/btn.png);

}

.warp-submit input{
	width: 9.5rem;
	height: 2rem;
	opacity: 0;
	cursor: pointer;
}

#login a{
	margin-left: 1rem;
	color: #2f6db6;
}


aside p{
	margin: 1.8rem 0 0.1rem 0.4rem;
	color: #9a9a9a;
	font-weight: bold;
	line-height: 1.5;
}

aside p.title{
	font-size: 1rem;
	color: #000;
	margin: 1.5rem 0 1.3rem;
	padding-top: 1.5rem;
	border-top: 1px solid #f8f9fa; 
}

aside p.title:first-child{
	padding-top: 0;
}
aside a{
	display: block;
	height: 2rem;
	width: 6.2rem;
	background: url(../imgs/btn_1.png);
}

aside p.contact{
	margin-top: 0.5rem;
}

aside .qrcode{
	display: flex;
}